@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: #335180;
    --extra-dark-blue: #273e63;
    --white: #fff;
    --secondary-light: #656769;
    --paste: #0b9c88;
    --paste-light: #3BB0A0;
    --paste-transparent: #0b9c8956;
    --paste-dark: #087163;
    --blue-sky: #ABD1C9FF;
    --black: #101820FF;
    --sailor-blue: #00203FFF;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Open Sans','Arial',sans-serif;
    /* font-family: 'Varela Round', sans-serif; */
    min-height: 100vh;
    /* background-color: #f6f6f6; */
}

a{
    text-decoration: none !important;
    transition: all .3s ease !important;
    color: #000;
}
ul{
    list-style: none;
    margin: 0 !important;
}
.button{
    padding: 7px 16px;
    transition: all .5s ease !important;
}
p{   margin: 0 !important;   }

.title{
    text-align: center;
    font-size: calc(20px + 20 * ((100vw - 420px) / 860));
    margin-bottom: 30px !important;
    font-weight: 600;
    color: #222;
    font-family: 'Varela Round', sans-serif;
}
.my-container{
    max-width: 1680px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.construction{
    text-align: center;
}
.construction h1{
    margin-top: 150px;
    margin-bottom: 30px;
    display: inline-block;
    padding: 70px;
    box-shadow: 0px 2px 7px #0000006b;
}

header{
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}
header .nav{
    display: none;
    float: right;
}
header .nav .bar-icon {
    color: var(--paste);
    border: 1px solid var(--paste-transparent);
    font-size: 22px;
    padding: 0 6px;
}
header .header-top{
    background-color: #f5f5f5;
    padding: 2px 0;
    font-size: 13px;
    transition: all .3s ease;
    visibility: visible;
}
header.hide-header .header-top{
    transform: translate3d(0, -100%, 0);
}
header.hide-header .header-bottom{
    transform: translate3d(0, -42%, 0);
}
header.hide-header .header-bottom img.logo{
    max-height: 38px;
}
header ul{
    display: flex;
    align-items: center;
    padding: 0;
}
.header-top ul li a{
    color: #000;
    padding: 0 15px;
    font-size: 13px;
    text-transform: uppercase;
}
.header-top .social-links ul{
    justify-content: flex-end;
    font-size: 20px;
}
.header-top ul.contact li a{
    font-weight: 600;
    padding-top: 2px;
}
.header-top ul.contact li{
    padding-top: 2px;
}

.header-top ul li a:hover{
    color: var(--paste);
}
.header-top ul.contact li a i{
    font-size: 18px;
    padding-right: 14px;
}

.header-top .social-links ul li:last-child a{
    padding-right: 0;
}
.header-top ul.contact li:first-child a{
    padding-left: 0;
}

/* ----- Header-Bottom ---- */
.header-bottom{
    background-color: white;
    box-shadow: 0 1px 3px rgb(0 0 0 / 9%);
    transition: all .3s ease;
    padding: 10px 0;
}
.header-bottom img.logo{
    max-height: 43px;
    transition: all .3s ease;
}
.header-bottom .navigation-left {
    border-right: 1px dotted var(--secondary-light);
}
.header-bottom .navigation-left ul{
    justify-content: flex-end;
}
.header-bottom .navigation-left ul a {
    font-weight: 500;
    font-size: 13px;
    color: #000;
    padding: 7px 10px;
    margin: 0 5px;
    border-radius: 50px;
    transition: all .5s ease !important;
}
.header-bottom .navigation-left ul a:hover,.header-bottom .navigation-left button:hover {
    /* color: #fff; */
    background-color: var(--paste-transparent);
}
.header-bottom button{
    border: 1px solid var(--paste);
    background-color: transparent;
    margin-left: 10px;
}

.header-bottom .navigation-right ul{
    justify-content: space-between;
}
.header-bottom .navigation-right ul a{
    color: var(--secondary-light);
    font-size: 14px;
    text-align: center;
    /* margin-right: 10px; */
}
.header-bottom .navigation-right ul a i{
    display: block;
    font-size: 22px;
    color: #777;
}
.header-bottom .navigation-right ul a span{
    display: block;
}

.header-bottom .navigation-right ul a:hover{
    color: #000;
}

.header-bottom .navigation-right ul li:last-child a{
    margin-right: 0;
}
.header-bottom .navigation-right ul a:hover i{
    color: #333;
}
.header-bottom .navigation-right ul a:hover span{
    color: var(--paste-dark);
}

header .responsive-nav{
    background: var(--paste-dark);
    min-height: 100vh;
    position: fixed;
    padding: 0 35px;
    width: 100vw;
    /* display: none; */
    transform: translate3d(100vw,0,0);
    transition: all .3s cubic-bezier(.4,0,.2,1);
}
header .responsive-nav.show-nav{
    /* display: block; */
    transform: translateZ(0);
}
header .responsive-nav ul {
    padding: 15px 0;
    display: none;
    text-align: center;
    /* opacity: 0; */
    transition: all .3s;
    border-bottom: 1px solid var(--paste-light);
}
header .responsive-nav ul:last-child{
    border-bottom: none;
}
header .responsive-nav.show-nav ul {
    /* opacity: 1 !important; */
    display: block;
}
header .responsive-nav ul a {
    color: #fff;
    font-size: 16px;
    padding: 5px;
    display: block;
    letter-spacing: .5px;
    font-family: 'Varela Round', sans-serif;
}
header .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

header .dropdown {
    position: relative;
    display: inline-block;
}

header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 230px;
    top: 28px;
    padding-top: 15px;
    box-shadow: 0px 13px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
}
header .dropdown-content ul{
    display: block;
}
header .dropdown-content li a{
    display: block;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 10px 20px !important;
}
header .dropdown:hover .dropdown-content{
    display: block !important;
}


/* banner section */
.banner-wrap{
    background: url(../images/gallery3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px #ffffffb4;
    /* min-height: 100vh; */
    width: 100%;
    padding-bottom: 70px;
    gap: 40px;
    overflow: hidden;
}
.banner{
    /* position: relative;
    top: 30%; */
    padding-top: 175px;
}
.banner .content-text{
    padding: 50px;
}
.banner .content-text p.type {
    margin-bottom: 8px !important;
}
.banner .client-side{
    color: #fff;
}
    
.banner .client-side .content-text{
    background: url(../images/gallery3.jpg);
    background-position: right center;
    /* box-shadow: inset 0 0 0 1000px #002a3896; */
    box-shadow: inset 0 0 0 1000px #343d408a;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.banner .content-text p.content-title{
    line-height: 1.25;
    font-family: 'Varela Round', sans-serif;
    font-size: calc(20px + 16 * ((100vw - 420px) / 860));
    font-weight: bold;
    /* max-width: 400px; */
    letter-spacing: 1px;
}
.banner .client-footer ul{
    width: 100%;
    padding: 0;
    background-color: var(--black);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.banner .client-footer ul li{
    text-align: center;
    margin: 20px 0;
    border-right: 1px dotted;
}
.banner .client-footer ul li:last-child{
    border-right: none;
}
.banner .client-footer ul li i{
    font-size: 35px;
    margin-bottom: 6px;
    color: var(--paste);
}
.banner .client-footer img{
    width: 55px;
    height: 55px;
}
.banner .client-footer a p{
    color: #fff;
    font-size: 12px;
}


.banner .candidate-side, .banner .client-side{
    box-shadow: 0 2px 10px #979797;
    border-radius: 12px;
}
.banner .candidate-side .content-text{
    background: url(../images/gallery6-1.jpg);
    background-position: top center;
    /* box-shadow: inset 0 0 0 1000px #083138a1; */
    box-shadow: inset 0 0 0 1000px #002a3896;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #fff;
}
.banner .candidate-side .job-search{
    width: 100%;
    padding: 41px 30px;
    margin: 0 !important;
}
.banner .candidate-side .job-search input{
    border: 1px solid #999;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}
.banner .candidate-side .job-search input:focus{
    outline: none;
    border: 1px solid var(--paste);
}

.banner .candidate-side .job-search button{
    border: none;
    background-color: var(--paste);
    font-size: 1rem;
    border-radius: 10px;
    color: #fff;
    padding: 6px;
}



.about-us .content-text{
    /* background: linear-gradient(90deg, rgba(11, 156, 136, 0.44) 0%, rgba(11, 156, 136, 0.52) 0%, rgba(126, 196, 186, 0.58) 24%, rgba(173, 208, 203, 0.76) 70%, rgba(11, 156, 136, 0.58) 100%); */
    background: linear-gradient(90deg, rgb(11 156 136 / 25%) 0%, rgb(11 156 136 / 25%) 0%, rgb(126 196 186 / 24%) 24%, rgb(173 208 203 / 62%) 70%, rgb(11 156 136 / 44%) 100%);
    padding: 100px 20px;
    margin: 45px 0;
    border-radius: 20px;
    font-family: 'Varela Round', sans-serif;
}
.about-us .content-text h2{
    margin-bottom: 15px;
    font-size: 35px;
}
.about-us .content-text p{
    font-size: 18px;
}

/* .glide__slides{
    margin: 0 30px;
} */
.clients-logo{
    padding: 50px 0;
    margin: 50px 0;
}
.glide__slide {
    /* border: 1px solid black; */
    line-height: 100px;
    margin: 0;
    text-align: center;
}
.glide__slide img{
    width: 100%;
    max-height: 53px;
    object-fit: contain;
}

/* ----Work Process----- */
.work-process-wrap {
    min-height: 50vh;
    display: flex;
    box-shadow: 0px 2px 6px #7777776e;
    border-radius: 20px;
    overflow: hidden;
    background: url(../images/employee.jpg);
}
.work-process-wrap .process{
    width: 50%;
    text-align: center;
    padding: 35px 0px;
}

.work-process-wrap .process.employee{
    /* background: url(../images/employee.jpg); */
    /* box-shadow: inset 0 0 0 1000px #087163d1; */
    box-shadow: inset 0 0 0 1000px #0b9c88cf;
    color: #fff;
}
.work-process-wrap .process.employer{
    /* background: url(../images/job-seekers.jpg); */
    box-shadow: inset 0 0 0 1000px #ffffffe0;
}

.work-process-wrap .process .content{
    text-align: center;
}

/* .work-process-wrap .process .content h3{} */

.work-process-wrap .process .content img{
    max-width: 350px;
    margin-top: 20px;
}
.work-process-wrap .process .content .img{
    max-width: 350px;
    margin-top: 20px;
}
.work-process-wrap .custom-counter {
    margin: 0;
    padding: 0;
    width: 42%;
    margin: auto;
    list-style-type: none;
    font-size: 20px;
    color: #71726e;
    line-height: 31px;
    font-weight: 300;
    text-align: left;
    color: #fff;
    margin-top: 40px;
    width: 44%;
}
.custom-counter li {
    counter-increment: li;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 24px;
    padding-top: 4px;
}
.custom-counter li:before {
    content: counter(li);
    margin-right: 20px;
    font-size: 24px;
    background-color: transparent;
    color: #fff;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    border: solid 1px #fff;
    float: left;
    text-align: center;
    margin-top: -4px;
    line-height: 1.5;
}
.work-process-wrap .content a.get-started{
    width: 200px;
    border: solid 2px #fff;
    color: #fff;
    display: block;
    font-size: 18px;
    border-radius: 4px;
    margin: auto;
    margin-top: 60px;
    line-height: 52px;
    font-weight: 700;
    text-align: center;
}
.work-process-wrap .process.employer .custom-counter,
.work-process-wrap .process.employer .custom-counter li:before,
.work-process-wrap .process.employer .content a.get-started{
    color: #000;
}
.work-process-wrap .process.employer .custom-counter li:before,
.work-process-wrap .process.employer .content a.get-started{
    border: solid 1px #666;
}



/* Slick Slider - Industries */
.our-industries {
    padding: 80px 60px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
    border-radius: 20px;
    width: 100%;
    display:block;
    margin: 80px auto;
    /* padding: 40px 0; */
    font-family: 'Varela Round', sans-serif;
}
.our-industries h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.our-industries .action{
    display:block;
    margin:100px auto;
    width:100%;
    text-align:center;
}
.our-industries .action a {
    display:inline-block;
    padding:5px 10px; 
    background:#f30;
    color:#fff;
    text-decoration:none;
}
.our-industries .action a:hover{
    background:#000;
}
.our-industries .item{
    text-align: center;
    text-transform: capitalize;
}
.our-industries .item i{
    font-size: 55px;
    color: var(--paste);
    margin-bottom: 10px;
}



/* Slick - Box Slider */
.box-slider{
    padding: 50px 0;
}
.box-slider .item {
    height: 350px;
    margin: 0 10px;
    border-radius: 15px;
    overflow: hidden;
}
.box-slider .item .content{
    height: 100%;
    text-align: center;
    position: relative;
}
.box-slider .item .content .details{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: 100%;
    padding-top: 10px;
}
.box-slider .item .content p:first-child{
    font-size: 20px;
}
.box-slider .item .content p:last-child{
    font-size: 25px;
    padding-top: 10px;
}
.box-slider .item .content.content1{
    background: url(../images/bg-1.png) no-repeat;
    background-size: cover;
    background-position: bottom right;
    box-shadow: inset 0 0 0 1000px var(--paste-transparent);
}
.box-slider .item .content.content2{
    background: url(../images/bg-blue2.jpg) no-repeat;
    background-size: cover;
    background-position: bottom right;
    box-shadow: inset 0 0 0 1000px var(--paste-transparent);
}
.box-slider .item .content.content3{
    background: url(../images/bg-nature.jpg) no-repeat;
    background-size: cover;
    background-position: top right;
    box-shadow: inset 0 0 0 1000px var(--paste-transparent);
}
.box-slider .item .content.content4{
    background: url(../images/bg-lab.jpg) no-repeat;
    background-size: cover;
    background-position: bottom right;
    box-shadow: inset 0 0 0 1000px var(--paste-transparent);
}
.box-slider .item .content.content5{
    background: url(../images/custom-bg-parallax.png) no-repeat;
    background-size: cover;
    background-position: bottom right;
    box-shadow: inset 0 0 0 1000px var(--paste-transparent);
}


/* ======== Projects ======== */
.our-projects img{
    width: 100%;
    max-height: 170px;
    object-fit: cover;
}

.our-projects .p-card{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
    border-radius: 20px;
    overflow: hidden;
    transition: all .3s;
}
.our-projects .p-card:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.315);
}
.our-projects .p-card-bottom{
    text-align: center;
    padding: 15px 0;
}
.our-projects .p-card-bottom p:first-child{
    font-size: 20px;
    color: var(--secondary-light);
}
.our-projects .p-card-bottom p:last-child{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    color: #000;
}


/* ============= ABOUT US ============ */
.about-us-wrap .about-banner, 
.services-wrap .services-banner,
.site-search-wrap .site-search-banner,
.location-wrap .location-banner{
    background: url(../images/employee_relations.jpg) no-repeat bottom center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #343d408a;
    font-family: 'Varela Round', sans-serif;
    
}
.about-us-wrap .about-banner h1, 
.services-wrap .services-banner h1,
.site-search-wrap .site-search-banner h1,
.location-wrap .location-banner h1{
    text-align: center;
    padding-top: 250px;
    padding-bottom: 90px;
    margin: 0;
    color: #fff;
}
.about-us-wrap .about-banner h1 span, 
.services-wrap .services-banner h1 span,
.location-wrap .location-banner h1 span{
    border: 1px solid var(--paste);
    padding: 30px 100px;
    border-radius: 6px;
    /* box-shadow: inset 0 0 0 1000px var(--paste-transparent); */
    background: var(--paste-transparent);
}
.about-us-wrap .content{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 30px;
}
.about-us-wrap .content-box{
    font-family: 'Varela Round', sans-serif;
    padding-top: 30px;
}
.about-us-wrap .content-box .a-title{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px !important;
    margin-top: 0;
    color: #666;
}
.about-us-wrap .content-box .details{
    font-size: 18px;
    color: #71726e;
    line-height: 31px;
    font-weight: 300;
}
.about-us-wrap .module-box{
    margin-bottom: 1.5em;
}
.about-us-wrap .module-box-content{
    background-color: rgba(247,247,247,1);
    padding: 1.5em;
}
.about-us-wrap .module-box-content p{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    color: var(--paste);
    text-transform: uppercase;
    margin-bottom: 0;
}
.about-us-wrap .module-box-content i{
    font-size: 28px;
    border-radius: 100%;
    padding-left: 0 !important;
    margin-left: 0;
    padding-right: 3px;
}

.about-us-wrap .form{
    margin-top: 16px;
}
.about-us-wrap .form .form-input{
    width: 100%;
    max-width: 100%;
    background: #fff;
    border: none;
    margin-top: 8px;
    margin-bottom: 16px;
    color: #666;
    padding: 6px;
    border-radius: 5px;
}
.about-us-wrap .form .form-input:focus{
    outline: 1px solid var(--paste-transparent);
}
.about-us-wrap .form label{
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    color: #71726e;
}
.about-us-wrap .form input[type="submit"]{
    background-color: var(--paste);
    color: #fff;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    -webkit-appearance: none;
    line-height: 38px;
    font-size: 18px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .3s;
    border: 1px solid transparent;
    margin: 22px 0px;
}
.about-us-wrap .form input[type="submit"]:hover{
    background-color: transparent;
    border: 1px solid var(--paste);
    color: var(--paste);
}
/* ============= --end-- ABOUT US ============ */


/* ============= Services ============ */

.services-wrap{
    min-height: 100vh;
    font-family: 'Varela Round', sans-serif;
}
.services-wrap .services-banner{
    background: url(../images/bg-1.png);
}
.services-wrap .contents-wrap{
    margin: 60px auto;
    padding: 30px;
    background: #fff;
    border: 1px solid #e6f0f7;
    border-radius: 10px;
}
.services-wrap .content-box{
    padding-top: 4.378vw;
}

.services-wrap .content-box:first-child{
    border-bottom: 1px solid #e6f0f7;
    padding-top: 0;
    padding-bottom: 4.378vw;
}
.services-wrap .content-box .s-title{
    font-weight: bold;
    font-size: 24px;
    color: var(--paste);
}
.services-wrap .content-box p{
    font-size: 16px;
    color: #666;
}
.services-wrap .content-box img{
    width: 100%;
}


/* ============= --end-- Services ============ */



/* ============= JobSearch ============ */
.job-search-wrap{
    min-height: 100vh;
    padding-top: 220px;
    font-family: 'Varela Round', sans-serif;
}
.job-search-wrap .q-search{
    box-shadow: 0px 2px 6px #7777776e;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 60px;
}
.job-search-wrap .q-search p{
    font-size: 25px;
    margin-bottom: 20px;
}
.job-search-wrap form{
    margin: 10px 0;
}
.job-search-wrap .q-search input[type="text"]{
    border: 1px solid #d1d3d4;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    width: 100%;
    padding: 5px;
}
.job-search-wrap .q-search input[type="submit"]{
    width: 100%;
    background: linear-gradient(var(--paste-light), var(--paste));
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.job-search-wrap .q-search input[type="submit"]:hover{
    background: linear-gradient( var(--paste-light), var(--paste-dark));
}

.job-search-wrap .filter{
    background-color: var(--paste-dark);
    padding: 10px;
    border-radius: 6px;
}
.job-search-wrap .f-title{
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.job-search-wrap ul{
    padding: 10px;
}
.job-search-wrap ul li select{
    width: 100%;
    border: none;
    margin: 10px 0px;
    padding: 8px;
    font-size: 15px;
    border-radius: 4px;
}

.job-search-wrap ul li select:focus{
    outline: none;
}

.job-search-wrap .jobs-wrap .j-title{
    margin-bottom: 25px !important;
    font-size: 36px;
    line-height: 1.2;
}
.job-search-wrap .jobs-wrap .data{
    font-size: 16px;
    color: var(--paste);
}
.job-search-wrap .job-info {
    padding: 50px 20px 30px 20px;
    box-shadow: 0px 2px 6px #999999a3;
    margin: 20px 0;
    border-radius: 6px;
    position: relative;
}
.job-search-wrap .job-title{
    padding: 0 0 10px 0;
}
.job-search-wrap .job-title a{
    font-size: 20px;
    line-height: 1.2 !important;
    height: 48px;
    margin-right: 10px;
    color: #000;
}
.job-search-wrap .job-title a:hover{
    color: var(--paste-dark);
}
.job-search-wrap span.badge{
    height: 100%;
}
.job-search-wrap ul.job-ul{
    padding-left: 0;
}
.job-search-wrap ul.job-ul li:first-child{
    color: var(--paste);
}
.job-search-wrap ul.job-ul li:last-child{
    position: absolute;
    top: 10px;
    left: 20px;
    color: #afafaf;
    font-size: 13px;
}
.job-search-wrap .buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.job-search-wrap .buttons button:first-child{
    background: linear-gradient(var(--paste-light), var(--paste-dark));
    color: #fff;
}
.job-search-wrap .buttons button{
    background: linear-gradient(var(--paste-transparent), var(--paste-light));
    border: none;
    color: #000;
    padding: 8px 10px;
    border-radius: 5px;
}
.job-search-wrap .buttons button:hover{
    background: linear-gradient(var(--paste-light), var(--paste));
}
/* ============= --end-- JobSearch ============ */



/* ============= Site Search ============ */
.site-search-wrap{
    background-color: #f6f6f6;
    padding-bottom: 60px;
}

.site-search-wrap .form{
    width: 100%;
    padding: 30px 20px;
    margin-top: 60px;
    box-shadow: 0px 2px 6px #7777776e;
    background-color: #fff;
    border-radius: 10px;
}
.site-search-wrap form input{
    width: 100%;
}

.site-search-wrap form input[type="text"]{
    border: 1px solid #999;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 18px;
}
.site-search-wrap form input[type="text"]:focus{
    outline: 1px solid var(--paste-light);
    border: 1px solid transparent;
}

.site-search-wrap form input[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 30px;
    background: linear-gradient(var(--paste-light), var(--paste));
    color: #fff;
}
.site-search-wrap form input[type="submit"]:hover{
    background: linear-gradient(var(--paste-light), var(--paste-dark));
}
/* ============= --end-- Site Search ============ */



/* ============= Portal ============ */ 
.portal-wrap{
    background-color: #f6f6f6;
    position: relative;
    min-height: 110vh;
    padding-top: 155px;
}
.portal-wrap .wrapper{
    display: flex;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 15%);
    width: 65%;
    margin: 10px auto;
    border-radius: 20px;
    overflow: hidden;
}
.portal-wrap .wrapper > div{
    width: 50%;
    min-height: 350px;
    padding: 0 30px;
}
.portal-wrap .portal-banner{
    background: url(../images/portal-bg.jpg) no-repeat top center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #0b9c895e;
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Open Sans','Arial',sans-serif; */
    text-align: center;
}
.portal-wrap .portal-banner .content{
    text-align: center;
    /* padding-top: 150px; */
    /* padding-bottom: 50px; */
    padding: 84px 0;
    color: rgb(255 255 255 / 79%);
}

.portal-wrap .portal-banner .content img{
    width: 70px;
    height: 70px;
}
.portal-wrap .portal-banner .content p{
    font-size: 16px;
}

.portal-wrap .login-module-wrap{
    /* width: 35vw; */
    /* margin: 0 auto; */
    height: 100%;
    background-color: #fff;
}
.portal-wrap .login-module-wrap .login-card{
    display: inline-block;
    padding: 90px 0px;
    /* border-radius: 8px; */
    /* box-shadow: 0px 2px 6px #7777776e; */
    text-align: left;
    width: 100%;
    height: 100%;
}
.portal-wrap .login-card .l-title{
    font-size: 20px;
    margin-bottom: 10px !important;
    color: var(--paste-dark);
}
.portal-wrap .login-card input{
    border: none;
}
.portal-wrap .login-card input:focus{
    outline: none;
}
.portal-wrap .login-card input[type="text"]{
    outline: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    margin: 10px 0;
    font-size: 17px;
    padding: 4px 10px;
}

.portal-wrap .login-card input[type="submit"]{
    background: linear-gradient(var(--paste), var(--paste-dark));
    color: #fff;
    padding: 10px 25px;
    border-radius: 4px;
}
.portal-wrap .login-card input[type="submit"]:hover{
    background: linear-gradient(var(--paste-light), var(--paste-dark));
}
.portal-wrap .login-card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 15px;
}
.portal-wrap .login-card .bottom a{
    color: var(--paste-light);
}
.portal-wrap .login-card .bottom a:hover{
    color: var(--black);
}
.portal-wrap footer{
    position: absolute;
    bottom: 0;
}
/* ============= --end-- Portal ============ */






/* ============= Candidate Login ============ */
.c-login-wrap{
    background: url(../images/c-login-bg.jpg);
    min-height: 100vh;
    padding-top: 140px;
    padding-bottom: 40px;
    font-family: 'Varela Round', sans-serif;
}
.c-login-wrap .login-module{
    width: 30vw;
    margin: 0 auto;
    background-color: #fff;
    min-height: 400px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px #7777777a;
}
.c-login-wrap .login-module .top{
    /* filter: drop-shadow(0px 4px 5px #5453539e); */
    text-align: center;
}
.c-login-wrap .login-module .top p:first-child {
    font-size: 25px;
    font-weight: bold;
    color: var(--paste-dark);
    padding-top: 55px;
}
.c-login-wrap .login-module .top p:last-child{
    padding-bottom: 30px;
}
.c-login-wrap .login-module .top .hero{
    display: block;
    box-sizing: border-box;
    height: 150px;
    background-color: #0b9c88;
    clip-path: ellipse(90% 100% at 50% 0%);
}
.c-login-wrap .login-module .bottom {
    padding: 0 30px;
}

.c-login-wrap .login-module .bottom input[type="text"] {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--paste-transparent);
    padding: 10px 0;
}

.c-login-wrap .login-module .bottom input[type="text"]:focus{
    outline: none;
}
.c-login-wrap .login-module .bottom input[type="submit"] {
    border: none;
    margin-top: 45px;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(var(--paste-light), var(--paste-dark));
    color: #fff;
}

.c-login-wrap .login-module .bottom input[type="submit"]:hover{
    background: linear-gradient(var(--blue-sky), var(--paste));
}
.c-login-wrap .login-module .options{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 14px;
    text-transform: capitalize;
    color: #666;
}
.c-login-wrap .login-module .options a{
    color: #666;
}
.c-login-wrap .login-module .options a:hover{
    color: var(--paste-dark);
}
.c-login-wrap a.new {
    display: block;
    padding: 45px 0;
    text-align: center;
    color: #000;
}
.c-login-wrap a.new:hover{
    color: var(--sailor-blue);
}
/* ============= --end-- Candidate Login ============ */





/* ============= Locations ============ */

.location-wrap{
    background-color: #f6f6f6;
}
.location-wrap .page-details{
    text-align: center;
    font-size: 20px;
    margin: 40px 0;
}

.location-wrap .loc-boxes {
    margin: 30px 0;
}
.location-wrap .loc-box{
    text-align: center;
    /* background-color: var(--paste-transparent); */
    border-radius: 6px;
    margin: 10px 0;
    overflow: hidden;
    box-shadow: 0px 2px 6px #7777776e;
}
.location-wrap .loc-box .img{
    width: 100%;
    background-color: #000;
}
.location-wrap .loc-box img{
    width: 100%;
    opacity: .65;
    transition: opacity .3s;
    max-height: 140px;
    object-fit: cover;
}
.loc-box:hover img{
    opacity: 1;
}
.location-wrap .loc-box a{
    color: #444;
}
.location-wrap .loc-box .content{
    padding: 12px 10px;
}
.location-wrap .loc-box .content p{
    font-size: 22px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 0;
}

.location-wrap .loc-box .content span{
    font-size: 13px;
}
/* ============= --end-- Locations ============ */








/* ========= Footer ======== */
footer{
    background-color: var(--black);
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
}
footer .footer-top{
    padding: 80px 25px;
    width: 100%;
}
footer .group {
    margin: 20px 0;
}
footer .g-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px dotted #fff;
    padding-bottom: 10px;
    margin-bottom: 10px !important;
    display: block;
    color: var(--paste);
}
footer .group .g-title:hover{
    color: #fff;
}
footer .group ul{
    padding-left: 0 !important;
}
footer .group ul a{
    color: #fff;
}
footer .group ul a:hover{
    color: var(--paste);
}
footer .group button{
    display: block;
    width: 100%;
    text-align: left;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--secondary-light);
    transition: all .3s;
}

footer .group button:hover{
    background-color: var(--paste);
    color: white;
}
footer .footer-bottom{
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: #111;
}

footer .footer-bottom p span{
    color: var(--extra-dark-blue);
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}




/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header .responsive-nav{
        display: none;
    }
    
    .banner .candidate-side .content-text{
        text-align: right;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .my-container{
        max-width: 1680px;
        padding-left: 60px;
        padding-right: 60px;
        margin: 0 auto;
    }
    
    .banner .candidate-side .content-text p.content-title {
        /* position: relative;
        right: -123px; */
    }
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 380px){
    .work-process-wrap .custom-counter {
        width: 100% !important;
    }
    .our-industries .slick-slider {
        padding-bottom: 30px;
    }
}
@media (max-width: 575.98px) {
    .banner .candidate-side .job-search input {
        padding: 6px;
        margin-bottom: 10px;
    }
    .banner .client-footer ul li {
        margin: 12px 0;
        border-right: none;
    }
    
    .work-process-wrap .custom-counter {
        width: 60%;
        padding-top: 10px;
    }
    footer .group ul {
        display: none;
    }
}

@media (max-width: 767.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    header .header-top, .header-bottom .navigation-left, .header-bottom .navigation-right{
        display: none;
    }
    header .nav{
        display: block !important;
    }
    header .header-responsive{
        width: 100vw;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* header .responsive-nav{
        display: block;
    } */
    .header-bottom img.logo {
        max-height: 30px !important;
        width: 100%;
    }
    .banner{
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .banner .client-side {
        margin-bottom: 30px;
    }
    .work-process-wrap {
        flex-direction: column;
        background: none;
    }
    .work-process-wrap .process {
        width: 100%;
    }
    .our-projects .p-card {
        margin-bottom: 25px;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}
